.header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    
    &__container {
        display: flex;
        align-items: center;

        @include px1920 {
            height: 102px;
        }

        @include px1024-1919 {
            height: 100px;
        }

        @include px768-1023 {
            height: 69px;
        }

        @include px767 {
            height: 45px;
        }
    }

    &__logo-a{
        outline-color: $YELLOW;
        padding: 3px;
    }

    &__logo {
        @include px768-1919 {
            margin-top: 2px;
        }

        @include px767 {
            margin-top: 4px;
        }
    }

    &__nav {
        position: relative;

        @include px1920 {
            margin-left: auto;
        }

        @include px768-1919 {
            order: -1;
            margin-right: auto;
        }

        @include px767 {
            margin-left: auto;
        }
    }

    &__btn-open-menu {
        cursor: pointer;

        @include px1920 {
            display: none;
        }

        @include px1919 {
            outline: none;
            border: none;
            background-color: transparent;

            width: 40px;
            height: 40px;
            padding: 5px;

            &:hover > &_burger,
            &:focus > &_burger,
            &:active > &_burger{
                background-color: $YELLOW;

                &:nth-child(2){
                    width: 70%; 
                    margin-left: auto;  

                    transition: width 0.3s;
                }

                &:nth-child(3){
                    width: 40%;   
                    margin-left: auto;
                    
                    transition: width 0.3s;
                }
            }

            &_burger {
                display: block;

                height: 3px;
                width: 100%;
                background-color: $BLACK;

                margin-left: auto;

                transition: width 0.3s;

                pointer-events: none;

                &:not(:last-child){
                   @include px768{
                        margin-bottom: 7px;
                    }

                   @include px767 {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    &__btn-close-menu{
        @include px1920{
            display: none;
        }

        @include px1919{
            outline: none;
            border: none;
            background-color: transparent;
            
            position: relative;
            top: 5px;

            display: block;
            margin-left: auto;
            margin-right: 5px;

            width: 40px;
            height: 40px;

            padding: 5px;

            cursor: pointer;

            &_close{
                display: block;
                width: 100%;
                height: 3px;

                background-color: $BLACK;

                position: absolute;
                top: 50%;
                left: 50%;

                z-index: -1;

                &:nth-child(1){
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &:nth-child(2){
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }

            &:hover > .header__btn-close-menu_close,
            &:focus > .header__btn-close-menu_close,
            &:active > .header__btn-close-menu_close{
                background-color: $YELLOW;
            }

        }
    }

    &__nav-list-container{
        @include px1919{
            display: none;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &__active-menu{
        position: fixed;
        display: block;
        z-index: 10;
        background-color: $WHITE;

        @include px768-1919{
            //left: -$paddingXContainer768;
            left: 0;
            top: 0px;

            width: 40vw;
            height: 100vh;
        }

        @include px767 {
            right: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
        }
    }

    &__nav{
        @include px1920{
            padding-top: 5px;
        }
    }

    &__nav-list {
        display: flex;

        @include px1919{
            flex-direction: column;
            align-items: center;
        }
    }

    &__nav-item {
        @include px1920{
            &:not(:last-child){
                margin-right: 88px;
            }
        }

        @include px1919{
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        &:hover > .header__nav-link{
            border-color: $YELLOW;
            transition: border-color 0.3s;
        };
    }

    &__nav-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 1px;
        letter-spacing: 0.4px;
        white-space: nowrap;

        cursor: pointer;

        border-bottom: 2px solid transparent;

        transition: border-color 0.3s;

        &:focus{
            outline: none;
            border-color: $YELLOW;
            transition: border-color 0.3s;
        };

        @include px1920{
            padding-bottom: 10px;
        }
        @include px1919{
            padding-bottom: 0.6vh;
        }
    }

    &__search-block {
        @include px1920{
            margin-left: 57px;
            margin-top: 3px;
        }

        @include px768-1919{
            margin-left: auto;
        }

        @include px1024-1919{
            margin-top: 6px;
        }

        @include px768-1023{
            margin-top: 0px;
        }

        @include px768{
            position: relative;

            &:hover > .header__input-search,
            &:focus > .header__input-search,
            &:active > .header__input-search{
                opacity: 1;
                width: 268px;
                height: 40px;

                transition: width 0.3s, height 0.3s, opacity 0.1s;
            }
        }
        @include px767{
            display: none;
        }
    }

    &__input-search {
        @include px768{
            padding: 7px 40px 7px 7px ;
            border: 2px solid $YELLOW;
            border-radius: 15px;
            outline: none;

            font-weight: 600;
            font-size: 18px;
            line-height: 1px;
            white-space: nowrap;

            opacity: 0;
            width: 1px;
            height: 1px;

            transition: width 0.3s, height 0.3s, opacity 0.1s;

            &::placeholder{
                font-weight: 600;
                font-size: 18px;
                white-space: nowrap;
            }

            &:focus,
            &:active{
                opacity: 1;
                width: 268px;
                height: 40px;

                transition: width 0.3s, height 0.3s, opacity 0.1s;
            }
        }
    }

    &__btn-search {
        @include px768{
            position: absolute;
            right: 2px;
            top: 50%;

            transform: translateY(-50%);

            background-image: inline-svg("loupe", $BLACK );
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;

            outline: none;
            border: none;

            cursor: pointer;

            height: 40px;
            width: 40px;
            padding: 5px;

            &:hover,
            &:focus,
            &:active{
                background-image: inline-svg("loupe", $YELLOW );
            }
        }

    }
}

