.working {

    @include px1920{
        margin-bottom: 126px;
    }

    @include px1024-1919{
        margin-bottom: 90px;
    }

    @include px768-1023{
        margin-bottom: 88px;
    }

    @include px767{
        margin-bottom: 38px;
    }

    &__title {
        color: $BLACK;
        font-weight: 400;
        line-height: 1px;

        @include px768{
            font-size: 50px;
            letter-spacing: 2.1px;
        }

        @include px1920{
            margin-bottom: 79px;
            margin-left: -1px;
        }

        @include px768-1399{
            margin-bottom: 74px;
            margin-left: -4px;
        }

        @include px767{
            font-size: 26px;
            letter-spacing: 0.6px;

            margin-bottom: 47px;
        }
    }

    &__step-list {
        display: flex;
        margin-bottom: 10px;

        @include px1920{
            padding-left: 2px;
        }

        @include px1023{
            justify-content: space-between;
        }
    }

    &__step-item {
        @include px1024{
            &:not(:last-child){
                margin-right: 86px;
            }
        }
    }

    &__step-btn {
        color: $BLACK;
        font-weight: 400;
        letter-spacing: 0.5px;
        background-color: transparent;
        border: none;

        cursor: pointer;

        padding: 2px;
        outline-color: $YELLOW;

        @include px768{
            font-size: 18px;
        }

        @include px767{
            font-size: 14px;
        }

        &_active{
            color:$YELLOW;
        }
    }

    progress {
        border: 2px solid $BLACK;
        border-radius: 15px;
    

        @include px1024{
            width: 470px;
            margin-bottom: 18px;
        }

        @include px1023{
            width: 100%;
            margin-bottom: 14px;
        }
    }
    progress::-webkit-progress-bar {
        background-color: transparent;
        border-radius: 15px; 
    }

    progress::-webkit-progress-value {
        background-color: $YELLOW;
        border-radius: 15px; 
    }

    progress::-moz-progress-bar {
        background-color: transparent;
    }

    &__info-item {
        display: none;
        opacity: 0;

        transition: opacity 0.3s;

        &_active {
            display: flex;

            @include px1024{
                justify-content: space-between;
            }

            @include px1023{
                flex-direction: column;
            }
        }

        &_active-opacity {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }

    &__info-content {
        @include px1400 {
            width: 49%;
            margin-left: 2px;
        }

        @include px1024-1399{
            width: 45%;
            margin-left: 2px;
        }

        @include px1023{
            order: 1;
        }
    }

    &__info-title {
        line-height: 1;

        @include px768{
            font-weight: 700;
            font-size: 25px;
            letter-spacing: 0.9px;

            margin-bottom: 5px;
        }

        @include px767{
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.8px;

            margin-bottom: 5px;
        }
    }

    &__info-discription {
        overflow: auto;
        font-weight: 400;

        @include px768 {
            line-height: 32px;
            font-size: 16px;
            letter-spacing: 0.9px;
        }

        @include px1920 {
            width: 85%;
            max-height: 400px;
        }

        @include px1024-1919 {
            max-height: 580px;
        }

        @include px768-1023 {
            max-height: 360px;
        }

        @include px767 {
            line-height: 28px;
            font-size: 14px;
            letter-spacing: 1px;

            max-height: 340px;
        }
    }

    &__list-full-info {
        display: flex;

        @include px1024-1399{
            margin-left: -2px;
        }
    }

    &__item-full-info {
        @include px1920{
            margin-top: 62px;
        }

        @include px1024-1919{
            margin-top: 30px;
        }

        @include px768-1023{
            margin-top: 29px;
        }

        @include px767{
            margin-top: 20px;
        }

        @include px768 {
            &:not(:last-child){
                margin-right: 30px;
            }
        }

        @include px767{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }

    &__link-full-info {
        line-height: 1;

        outline: none;
        border: none;

        display: inline-block;
        text-align: center;
        cursor: pointer;

        @include px768{
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.5px;
        }

        @include px767{
            font-size: 14px;
        }

        &_details {
            color: $WHITE;
            background-color: $YELLOW;
            transition: background-color 0.3s;

            @include px768{
                width: 175px;
                padding: 22px 0;
            }

            @include px767{
                width: 164px;
                padding: 13px 0;
            }

            &:hover,
            &:active,
            &:focus{
                background-color: rgba(255, 153, 0, 0.6);
                transition: background-color 0.3s;
            }
        }

        &_agreement {
            color: $BLACK;
            border: 2px solid $BLACK;
            background-color: transparent;
            transition: background-color 0.3s, color 0.3s;

            @include px768{
                width: 147px;
                padding: 19px 0;
            }

            @include px767{
                width: 118px;
                padding: 12px 0;
            }

            &:hover,
            &:active,
            &:focus{
                background-color: $BLACK;
                color: $WHITE;
                transition: background-color 0.3s, color 0.3s;
            }
        }
    }

    &__info-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include px1920{
            width: 870px;
            margin-top: 6px;
        }

        @include px1024-1919{
            width: 100%;
            margin-top: 6px;
        }

        @include px1024-1399{
            max-width: 437px;
        }

        @include px768-1023{
            width: 100%;
            margin-bottom: 40px;
        }

        @include px767{
            width: 100%;
            margin-bottom: 11px;
        }
    }
}