.questions {

    &__title {
        @include px1024{
            font-size: 48px;
            line-height: 1px;
            font-weight: 400;
            letter-spacing: 2.2px;

            margin-bottom: 66px;
        }

        @include px1920{
            margin-left: 2px;
        }

        @include px768-1023{
            font-size: 47px;
            line-height: 1px;
            font-weight: 400;
            letter-spacing: 2.3px;

            margin-left: 2px;
            margin-bottom: 66px;
        }

        @include px767 {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            font-weight: 400;

            margin-bottom: 12px;
        }
    }

    &__list {
        border-top: 1px solid $GRAY;
    }

    &__item {
        border-bottom: 1px solid $GRAY;

        @include px1400{
            padding-top: 29px;
            padding-bottom: 31px;
        }

        @include px1024-1399{
            padding-top: 35px;
            padding-bottom: 33px;   
        }

        @include px768-1023{
            padding-top: 35px;
            padding-bottom: 24px;   
        }

        @include px767{
            padding-top: 21px;
            padding-bottom: 22px;   
            padding-left: 1px;
        }
    }

    &__container-questions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include px1920{
            padding-left: 5px;
            padding-right: 2px;
        }
    }

    &__title-questions {
        cursor: pointer;
        transition: color 0.3s;

        &:focus,
        &:hover{
            color: $YELLOW;
            transition: color 0.3s;
        }

        @include px1400{
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        @include px1024-1399{
            max-width: 70%;
        }

        @include px768-1399{
            font-size: 22px;
            line-height: 32px;
            font-weight: 700;
            letter-spacing: 1px;
            
        }

        @include px768-1023{
            max-width: 84%;
        }

        @include px767{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            max-width: 70%;
        }
    }

    &__item-btn {
        outline: none;
        border: 1px solid transparent;
        cursor: pointer;

        position: relative;

        border-radius: 50%;

        background-color: $GRAY;

        transition: background-color 0.3s;

        &_rotate{
            transform: rotate(45deg);
            transition: transform 0.3s;
        }

        &:hover,
        &:focus,
        &:active{
            background-color: $DARK-GRAY;
            border-color: $YELLOW;
            transition: background-color 0.3s, border-color 0.3;
        }

        @include px768{
            width: 50px;
            height: 50px;
        }

        @include px767{
            width: 30px;
            height: 30px;
            margin-top: 2px;
            margin-right: -2px;
        }

        @include px1024{
            margin-top: 3px;
        }

        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            width: 70%;
            height: 2%;

            background-color: black;

            transform: translate(-50%, -50%);
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            width: 70%;
            height: 2%;


            background-color: black;

            transform: translate(-50%, -50%) rotate(90deg) ;
        }
    }

    &__container-response {
        display: none;
        overflow: hidden;

        @include px1400{
            margin-top: 30px;
        }

        @include px768-1399{
            margin-top: 20px;
        }

        @include px767{
            margin-top: 10px;
        }
    }

    &__response {
        transform: translateX(-120%);
        opacity: 0;

        transition: transform 0.5s, opacity 0.5s;

        &_active1{
            transform: translateX(0%);
            opacity: 1;

            transition: transform 0.5s, opacity 0.5s;
        }

        &_active2{
            transform: translateX(120%);
            opacity: 0;

            transition: transform 0.5s, opacity 0.5s;
        }

        @include px768{
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
        }

        @include px1400{
            max-width: 60%;
        }

        @include px768-1399{
            max-width: 85%;
        }

        @include px767 {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;

            max-width: 90%;
        }

    }
}
