.presentation {
    @include px1920 {
        margin-bottom: 102px;
    }

    @include px768-1919{
        margin-bottom: 61px;
    }

    @include px768-1023{
        padding: 0 !important;
    }

    @include px767{
        margin-bottom: 38px;
    }

    &__container {
        position: relative;
    }

    &__img{
        width: 100%;
        object-fit: cover;

        @include px1920 {
            height: 620px;
        }

        @include px1024-1919 {
            height: 668px;
        }
    
        @include px768-1023 {
            height: 699px;
        }
    
        @include px767 {
            height: 262px;
        }
    }

    &__pagination{
        @include px768 {
            margin-bottom: 10px;
        }
    }

    &__info-container {
        position: absolute;
        top: 0;
        z-index: 1;

        pointer-events: none;

        @include px1920 {
            margin-top: 103px;
            margin-left: 78px;

            width: 50%;
        }

        @include px1400-1919{
            width: 80%;
        }

        @include px1024-1919 {
            margin-top: 160px;
            margin-left: 45px;
        }

        @include px1024-1399{
            width: 90%;
        }
    
        @include px768-1023 {
            margin-top: 191px;
            left: 48px;
            width: 95%;
        }
    
        @include px767 {
            margin-top: 32px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
        }
    }

    &__titel {
        font-weight: 800;
        color: $WHITE;

        @include px1920 {
            margin-bottom: 18px;

            font-size: 70.3742px;
            line-height: 86px;
        }

        @include px1024-1919 {
            margin-bottom: 10px;

            font-size: 60px;
            line-height: 73px;
        }
    
        @include px768-1023 {
            margin-bottom: 11px;

            letter-spacing: 2.7px;
            font-size: 57px;
            line-height: 73px;
        }
    
        @include px767 {
            margin-bottom: 6px;

            font-size: 20px;
            line-height: 24px;

            text-align: center;
        }
    }

    &__discription {
        color: $WHITE;

        @include px1920 {
            width: 95%;
            margin-bottom: 97px;

            font-weight: 700;
            font-size: 23.4581px;
            line-height: 29px;
            word-spacing: 0.3px;
            letter-spacing: 0.6px;
        }

        @include px1024-1919{
            margin-bottom: 110px;
        }

        @include px768-1023 {
            margin-bottom: 109px;
            max-width: 90%;
        }
    
        @include px768-1919 {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            word-spacing: 0.3px;
            letter-spacing: 0.6px;
        }
    
        @include px767 {
            margin-bottom: 36px;

            font-weight: 500;
            font-size: 12px;
            line-height: 15px;

            text-align: center;

            text-align: center;
        }
    }

    &__btn {
        font-weight: 700;
        line-height: 1;
        color: $WHITE;

        background-color: $YELLOW;

        text-align: center;
        align-items: center;

        cursor: pointer;

        outline: none;
        border: none;

        transition: opacity .3s;

        pointer-events: all;

        &:hover,
        &:focus,
        &:active{
            opacity: 0.8;

            transition: opacity .3s;
        }

        @include px1920 {
            margin-left: 3px;

            font-size: 24px;
            letter-spacing: 0.8px;

            width: 280px;
            height: 80px;
        }

        @include px1024-1919 {
            margin-left: 0px;
        }

        @include px768-1919 {
            font-size: 24px;
            letter-spacing: 1.2px;

            width: 287px;
            height: 80px;
        }

        @include px768-1023 {
            margin-left: 1px;
        }
    
        @include px767 {
            
            font-size: 12px;

            width: 162px;
            height: 40px;

            background-color: $YELLOW;

            text-align: center;
            align-items: center;

            display: block;
            margin: 0 auto;
        }
    }
}

//swiper castom

#js-presentation-swiper .swiper-pagination-bullet:focus,
#js-presentation-swiper .swiper-pagination-bullet:hover{
    border-color: $YELLOW;
}

#js-presentation-swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;

    outline: none;
    border: none;

    margin: 0 10px;

    border: 3px solid transparent;

    background: rgba(255, 255, 255, 0.4);
}

#js-presentation-swiper .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;

    background: $WHITE;
}


