.questions {

    &__title {
        @include px1024{
            font-size: 48px;
            line-height: 1px;
            font-weight: 400;
            letter-spacing: 2.2px;

            margin-bottom: 66px;
        }

        @include px1920{
            margin-left: 2px;
        }
    }

    &__list {
        border-top: 1px solid $GRAY;
    }

    &__item {
        border-bottom: 1px solid $GRAY;

        @include px1400{
            padding-top: 29px;
            padding-bottom: 31px;
        }

        @include px1024-1399{
            padding-top: 35px;
            padding-bottom: 33px;   
        }
    }

    &__container-questions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include px1920{
            padding-left: 5px;
            padding-right: 2px;
        }
    }

    &__title-questions {
        cursor: pointer;
        transition: color 0.3s;

        &:focus,
        &:hover{
            color: $YELLOW;
            transition: color 0.3s;
        }

        @include px1400{
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            letter-spacing: 1px;
        }

        @include px1024-1399{
            font-size: 22px;
            line-height: 32px;
            font-weight: 700;
            letter-spacing: 1px;
            max-width: 70%;
        }
    }

    &__item-btn {
        outline: none;
        border: none;
        cursor: pointer;

        position: relative;

        width: 50px;
        height: 50px;
        border-radius: 50%;

        background-color: $GRAY;

        transition: background-color 0.3s;

        &_rotate{
            transform: rotate(45deg);
            transition: transform 0.3s;
        }

        &:hover,
        &:focus,
        &:active{
            background-color: $DARK-GRAY;

            transition: background-color 0.3s;
        }

        @include px1024{
            margin-top: 3px;
        }

        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            width: 63%;
            height: 2%;

            background-color: black;

            transform: translate(-50%, -50%);
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            width: 63%;
            height: 2%;


            background-color: black;

            transform: translate(-50%, -50%) rotate(90deg) ;
        }
    }

    &__container-response {
        display: none;
        overflow: hidden;
        margin-top: 30px;
    }

    &__response {
        transform: translateX(-120%);
        opacity: 0;

        transition: transform 0.5s, opacity 0.5s;

        &_active1{
            transform: translateX(0%);
            opacity: 1;

            transition: transform 0.5s, opacity 0.5s;
        }

        @include px1024{
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
        }

        @include px1920{
            max-width: 60%;
        }

        @include px1024{
            max-width: 80%;
        }

    }
}
